body {
  margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.icon {
  max-height: 48px;
  vertical-align: middle;
  cursor: pointer;
}
.emoji {
  font-size: 34px;
}
#content {
  padding: 2px;
  word-break: break-all;
}
#content img{
  border: 2px solid black;
  max-width: 300px;
  max-height: 300px;
}
#drawer td {
  background-color: #EEEEEE;
  height: 50px;
}
#drawer td a {
  display: block;
  width: 100%;
}

.another_page {
  text-align: center;
  background-color: #EEEEEE;  
}
.this_page {
  text-align: center;
  background-color: #FCFCFC;
  border-color: silver;
}
.div_t {
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 10px 19px 10px;    
}
.str_cp {
  pointer-events: none;
}

@media screen and (min-width : 711px) { 
  body {
    width: 960px;
  }
  #content{
    margin: 0px 4px 0px 310px;
    width: 476px;
    float:left;
  }
  #menu_td img{
    display: none;
  }
  #drawer {
    position : absolute;
    float : left;
    margin-top : -1px;
    width : 300px;   
    background-color: white;
  }
  .pc_disp_none{
    display: none;
  }
  #ad_right{
    margin:2px;
  }
}

@media screen and (max-width : 710px) { 
  #drawer {
    width: 80%;
    overflow: scroll;
    position: absolute;
    z-index: 10;
    margin: 0;
    background-color: white;
    left: -100%;
    top : 51px;
    float: left;
  }
  #pulling {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 46px;
    opacity: 0;
  }
  #pulling:checked ~ #drawer{
    left: 0%;
  }
  #header{
    width: 100%;
    text-align: left;
    background-color: #EEEEEE;
  }
  .sp_disp_none{
    display: none;
  }

}