<!DOCTYPE html>
<html>
  <head>
    <title>{{.CategoryName}}</title>
    <meta name="description" content="{{.CategoryDescription}}">
    <meta property="og:image" content="https://" />
    <link rel="stylesheet" href="/common.css{{.CacheV}}" />
    <link rel="shortcut icon" href="/favicon.ico">
<!--     <script src="/plugin/min.js"></script> -->
    <meta name="viewport" content="width=device-width, user-scalable=no" >
  </head>
<body>
<table id="header">
  <tr>
    <td id="menu_td"><img src="/img/menu.png" class="icon"></td>
    <td style="width: 80%;"><h2>{{.CategoryName}}</h2></td>
  </tr>
</table>

<input type="checkbox" id="pulling" class="pc_disp_none">
<table id="drawer">
  <tr><td id="ad_menu"><iframe src="/advertisement/ad_300_250/" width="300" height="250" frameborder="0" scrolling="no"></iframe></td></tr>
  <tr><td><a href="/"><img src="/img/home.png" class="icon"></a></td></tr>
{{ range $v := .CategoryList }}
<tr><td class="categoryName">
  <a href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a>
</td></tr>
{{end}}
</table>

<div id="content">

<div class="pc_disp_none" style="text-align: center;"><iframe src="/advertisement/ad_320_50/" width="320" height="50" frameborder="0" scrolling="no"></iframe></div>

<div>
{{ range $v := .BreadCrumb }}
<a style="margin:5px;" href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a> >
{{end}}
</div>

<div>{{.CategoryTxt}}</div>

<!-- &r.NoteID, &r.NoteTitle, &r.NoteTxt, &r.UpdatedAt -->

{{ range $v := .Note }}
<div style="word-break: break-all;">
  <p><a href="/note/{{ $v.NoteID }}/"> {{ $v.NoteTitle }} </a></p>
  {{ $v.NoteTxt }}...  <i>{{ $v.UpdatedAt }}</i>
</div>
{{end}}

</div  beginis content>
<br>
<div id="ad_right"><iframe src="/advertisement/ad_160_600/" width="160" height="600" frameborder="0" scrolling="no"></iframe></div>



</body>
</html>

