<!DOCTYPE html>
<html>
  <head>
    <title>{{.Note.NoteTitle}}</title>
    <meta property="og:image" content="https://{{.Note.NoteImg}}" />
    <link rel="stylesheet" href="/common.css{{.CacheV}}" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
  </head>
<body>
<div class="pc_disp_none"><span class="emoji">≡</span></div>
<input type="checkbox" class="pulling pc_disp_none">
<table id="drawer">
  <tr><td>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-1763935619573577"
       data-ad-slot="3701545641"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </td></tr>
  <tr><td><a href="/"> <span class="emoji">🏠</span> ホーム</a></td></tr>
{{ range $v := .CategoryList }}
<tr><td class="categoryName">
  <a href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a>
</td></tr>
{{end}}
</table>
<style>
li{
  padding: 20px 0px 20px 0px;
}
</style>
<div id="content">

<div class="pc_disp_none" style="text-align:center;position:fixed;top:0;right:0;z-index:2;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-1763935619573577"
         data-ad-slot="5966804842"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<h1>{{.Note.NoteTitle}}</h1>
<nav>
<div>
{{ range $v := .BreadCrumb }}
&nbsp;<a style="margin: 5px 0px 5px 0px;" href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a> > &nbsp;
{{end}}
</div>
</nav>

<article> <div>{{.Note.NoteTxt}}</div> </article>
<time>{{.Note.WroteDate}}</time>

<p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSe5stpRl-nObX1_GKLb_IsA0cNG0Dvan2owUUHMVigxvMzgsg/viewform">コメント</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/intent/tweet?url=https://blog.quigen.info{{.URL}}&text=@komikoma" target="_blank">tweetでコメント</a>
</p>
</div end content>
<br>

<div id="ad_right">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-1763935619573577"
         data-ad-slot="6074759240"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

</body>
</html>

