<!DOCTYPE html>
<html>
  <head>
    <title>{{.Note.NoteTitle}}</title>
    <meta property="og:image" content="https://{{.Note.NoteImg}}" />
    <link rel="stylesheet" href="/common.css{{.CacheV}}" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
  </head>
<body>
<table id="header">
  <tr><td id="menu_td"><img src="/img/menu.png" class="icon"></td></tr>
</table>
<input type="checkbox" id="pulling" class="pc_disp_none">
<table id="drawer">
  <tr><td id="ad_menu"><iframe src="/advertisement/ad_300_250/" width="300" height="250" frameborder="0" scrolling="no"></iframe></td></tr>
  <tr><td><a href="/"><img src="/img/home.png" class="icon"></a></td></tr>
{{ range $v := .CategoryList }}
<tr><td class="categoryName">
  <a href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a>
</td></tr>
{{end}}
</table>

<style>
li{
  padding: 20px 0px 20px 0px;
}
</style>
<div id="content">


<div class="pc_disp_none" style="text-align: center;">
  <iframe src="/advertisement/ad_320_50/" width="320" height="50" frameborder="0" scrolling="no"></iframe>
</div>


<h1>{{.Note.NoteTitle}}</h1>

<div>
{{ range $v := .BreadCrumb }}
&nbsp;<a style="margin: 5px 0px 5px 0px;" href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a> > &nbsp;
{{end}}
</div>

<div>{{.Note.NoteTxt}}</div>
<div>{{.Note.WroteDate}}</div>

<p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSe5stpRl-nObX1_GKLb_IsA0cNG0Dvan2owUUHMVigxvMzgsg/viewform">コメント</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/intent/tweet?url=https://blog.quigen.info{{.URL}}&text=@komikoma" target="_blank">tweetでコメント</a>
</p>
</div end content>
<br>

<div id="ad_right"><iframe src="/advertisement/ad_160_600/" width="160" height="600" frameborder="0" scrolling="no"></iframe></div>



</body>
</html>

